.container
    .row
        .page-header
            h1=title
            small 重度科幻电影

nav.navbar.navbar-default.bg-light.fixed-bottom
    .container
        .navbar-header
            a.navbar-brand(href="/") 重度迷幻电影
        if user
            span.navbar-text
                span 欢饮您, #{user.userName}
                span &nbsp;|&nbsp;
                a.navbar-link(href="/logout") 登出
        else
             span.navbar-text
                a.navbar-link(href="#", data-toggle="modal", data-target="#signupModal") 注册
                span &nbsp;|&nbsp;
                a.navbar-link(href="#", data-toggle="modal", data-target="#signinModal") 登录
  
#signupModal.modal.fade
    .modal-dialog
        .modal-content
            form(method="POSt", action="/user/signup")
                .modal-header 注册
                .modal-body 
                    .form-group
                        label.col-form-label(for="signupName") 用户名
                        input#signupName.form-control(name="user[userName]", type="text")
                    .form-group
                        lable.col-form-label(for="signupPassword") 密码
                        input#signupPassword.form-control(name="user[password]", type="text")
                .modal-footer
                    button.btn.btn-sm.btn-default(type="button", data-dismiss="modal") 关闭
                    button.btn.btn-sm.btn-success(type="submit") 提交
#signinModal.modal.fade
    .modal-dialog
        .modal-content
            form(method="POSt", action="/user/signin")
                .modal-header 登陆
                .modal-body 
                    .form-group
                        label.col-form-label(for="signinName") 用户名
                        input#signinName.form-control(name="user[userName]", type="text")
                    .form-group
                        lable.col-form-label(for="signinPassword") 密码
                        input#signinPassword.form-control(name="user[password]", type="text")
                .modal-footer
                    button.btn.btn-sm.btn-default(type="button", data-dismiss="modal") 关闭
                    button.btn.btn-sm.btn-success(type="submit") 提交