extends ../layout

block content
    .container
        .row
            .col-md-5
                form(method="POST", action="/user/signin")
                    .modal-body 
                        .form-group
                            label.col-form-label(for="signinName") 用户名
                            input#signinName.form-control(name="user[userName]", type="text")
                        .form-group
                            lable.col-form-label(for="signinPassword") 密码
                            input#signinPassword.form-control(name="user[password]", type="text")
                    .modal-footer
                        button.btn.btn-sm.btn-default(type="button", data-dismiss="modal") 关闭
                        button.btn.btn-sm.btn-success(type="submit") 提交